body
{
	background-color: #feefcc;
}

.container
{
	background-color: #feefcc;
}

.collapse
{
	background-color: #fff2d1;
}

table
{
	border-width:1px; 
	border-style:solid; 
	border-color:black;
	border-collapse: collapse;
	width:100%;
}

tr
{
	border-width:2px; 
	border-style:solid; 
	border-color:black;
	border-collapse: collapse;
}

td
{
	text-align: center;
	vertical-align: middle;
	border-width:2px; 
	border-style:solid; 
	border-color:black;
	border-collapse: collapse;
}

th
{
	text-align: center;
	vertical-align: middle;
	border-width:3x; 
	border-style:solid; 
	border-color:black;
	border-collapse: collapse;
}

img
{
	height: 300px;
	width: 190px;
}

#right
{
	float: right;
}

#left
{
	float:left
}

#left img{
	height: 450px;
	width: 285px;
}

#profileinfo
{
	margin: auto;
	width:400px;
}

#buttonbox
{
	margin: auto;
	width:700px;
}


.card
{
	display: inline-block;

	width: 195px;
	margin: auto;
}

